*{
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}

div.thumbnail {
  p {
    text-align: center;
    padding-top: 10px;
  }
}

div.thumbnail-card {
  width:200px;
  height:300px;

  img {
    width:200px;
    height:250px;
  }
}

div.tablecard {
  p {
    text-align: center;
  }
}

a:hover,a:active, a:visited {
  text-decoration: none;
}

.important-link {
  font-size: 18px;
  padding: 10px;
}