.jxgcs-banner{
	color: rgb(212, 212, 212) !important;
	height: 400px;
	margin-bottom: 0px !important;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/banner.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/banner.jpg");
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/banner.jpg");
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/banner.jpg");
}

/*.jxgcs-header{
	margin-bottom: 0px !important;
	background-color: black !important;
}*/

.jxgcs-tab{
	padding: 10px 10px 40px 10px;
}

.jxgcs-content{
	background-color: #21b2a6;
	color: #c7ebe8;
}

.jxgcs-contact{
	background-color: whitesmoke;
}

.jxgcs-footer{
	padding-bottom: 20px;
}